services:
  proxy:
    image: nginxproxy/nginx-proxy
    cpus: 1
    mem_limit: 1g
    # If port error try: sudo sysctl net.ipv4.ip_unprivileged_port_start=80
    privileged: true
    ports:
      - 80:80
      - 443:443
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./certs:/etc/nginx/certs
      - ${PWD}/.config/nginx-proxy/10.custom.conf:/etc/nginx/conf.d/10.custom.conf
    environment:
      - DEFAULT_HOST=local.devhost.name
      - NGINX_PROXY_WEBSOCKET=1
      - TRUST_DOWNSTREAM_PROXYS=true

  postgres:
    image: postgres:17
    cpus: 2
    mem_limit: 2g
    shm_size: 128mb
    restart: always
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: pglocaldev
      POSTGRES_PASSWORD: RPAZ8DYCI698e94ceeIyP3t9
      POSTGRES_DB: cms
    volumes:
      - ./.docker/postgres/data:/var/lib/postgresql/data
    command:
      - "postgres"
      - "-c"
      - "shared_preload_libraries=pgvector"

  cms:
    image: oven/bun:1.3-debian
    cpus: 2
    mem_limit: 4.5g
    working_dir: /app
    volumes:
      - ./cms:/app
      - /app/node_modules
    command: >
      /usr/bin/bash -c "bun install;
              if [ $(arch) = 'aarch64' ]; then
                bun install --cpu=arm64 --os=linux sharp;
              fi
              bun devsafe"
    ports:
      - 9091:3000
      - 38935:38935
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      NODE_OPTIONS: --no-deprecation
      VIRTUAL_HOST_MULTIPORTS: |-
        local.devhost.name:
          "/admin/hmr/":
            port: 38935
          "/admin":
            port: 3000
          "/_next":
            port: 3000
          "/api/":
            port: 3000
          "/graphql":
            port: 3000
          "/swagger":
            port: 3000
          "/redoc":
            port: 3000
          "/rapidoc":
            port: 3000
          "/health":
            port: 3000
    env_file:
      - .env
    depends_on:
      - postgres

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.11.0
    cpus: 2
    mem_limit: 2g
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms1024m -Xmx1024m"
    ports:
      - 9200:9200
    volumes:
      - ./.docker/elasticsearch/data:/usr/share/elasticsearch/data
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      VIRTUAL_HOST_MULTIPORTS: |-
        local.devhost.name:
          "/elasticsearch":
            port: 9200

  tika:
    image: apache/tika:2.9.2.1-full
    cpus: 1
    mem_limit: 1.5g
    ports:
      - 9998:9998
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      VIRTUAL_HOST_MULTIPORTS: |-
        local.devhost.name:
          "/tika":
            port: 9998

  adminer:
    image: adminer:5
    cpus: 1
    mem_limit: 1g
    ports:
      - 9093:8080
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      VIRTUAL_HOST_MULTIPORTS: |-
        local.devhost.name:
          "/adminer":
            port: 8080
